@import "~@covalent/core/common/platform.css";
@import "theme";
@import "ag-grid";

.size-100-percent {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex !important;
  flex: 1;
  flex-direction: column;
}
